@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

*, *::after, *::before {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

body {
  height : 100vh;
  max-width : 100vw;
  display : flex;
  align-items : center;
  flex-direction : column;
  justify-content : center;
  animation : shuffer 24s ease-in-out infinite;
}

@keyframes shuffer {

  0%,
  100% {
    background-color : #ffcb37;
  }

  10% {
    background-color : #005d56;
  }

  30% {
    background-color : #61481C;
  }

  50% {
    background-color : #0052b8;
  }

  70% {
    background-color : #ff83a1;
  }

  90% {
    background-color : #0b0b0d;
  }

}

.main {
  display : flex;
  align-items: center;
  flex-direction : column;
  justify-content : center;
  gap : 1em;
  padding : 0 1em 1em;
  width : 30rem;
  max-width : 90%;
  border-radius : 1em;
  background-color : hsla(0, 0%, 100%, 0.2);
  box-shadow : .3em .3em 1em hsla(0, 0%, 0%, 0.4);
}

.additional {
  max-height: 0;
  overflow: hidden;
}

.additional.active {
  max-height: 55px;
}

p {
  padding-top : 1em;
  display : none;
}

p.active {
  display : block;
}

p,
label,
input,
button {
  font-family : "jura";
  font-weight : bold;
  font-size : clamp(.9rem, 5vw, 1.15rem);
  text-shadow : .03em .03em .02em hsla(0, 0%, 100%, 0.6),
                -.03em -.03em .02em hsla(0, 0%, 0%, 0.6);
}

input,
button {
  width : 100%;
  height : 3em;
  padding : 0 1em;
  border-radius : .7em;
  color: hsla(0, 0%, 0%);
  border : .1em solid rgba(0, 0, 0, .1);
  background-color : hsla(0, 0%, 90%, 0.3);
  transition : color 100ms ease-in-out,
              transform 100ms ease-in-out,
              background-color 150ms ease-in-out;
  box-shadow : .1em .1em .2em hsla(0, 0%, 0%, 0.3);

}

input:hover,
input:focus,
button:hover,
button:focus {
  outline : none;
  transform : scale(1.01);
  color : hsl(0, 0%, 0%);
  background-color : hsla(0, 0%, 100%, 0.85);
}

input:focus::placeholder,
input:hover::placeholder {
  color : hsl(0, 0%, 0%);
}

button:active {
  transform : scale(.99);
  color : hsl(0, 0%, 90%);
  background-color : hsl(0, 0%, 0%);
}

button:nth-of-type(2),
button:nth-of-type(3) {
  display : none;
}

button:nth-of-type(4) {
  display : none;
  color : hsl(0, 0%, 0%);
  background-color : hsla(0, 100%, 50%, 0.1);
}

button:nth-of-type(4):hover,
button:nth-of-type(4):focus {
  color: hsl(0, 0%, 100%);
  background-color : hsla(0, 100%, 50%, 0.6);
}

button:nth-of-type(4):active {
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 100%, 30%, 0.6);
}

#answer {
  padding : 0 .5em 0 0;
  font-size : clamp(1.1rem, 5vw, 1.35rem);
  text-shadow : .06em .06em .02em hsla(0, 0%, 100%, 0.6),
                -.06em -.06em .02em hsla(0, 0%, 0%, 0.6);
}