@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

*, *::after, *::before {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

body {
  height : 100vh;
  max-width: 100vw;
  display : flex;
  align-items : center;
  flex-direction : column;
  justify-content : center;
  animation: shuffer 120s ease-in-out infinite;
}

@keyframes shuffer {

  0%,
  100% {
    background-color : #ffcb37;
  }

  16.5% {
    background-color : #005d56;
  }

  33% {
    background-color : #943d1c;
  }

  49.5% {
    background-color : #0052b8;
  }

  66% {
    background-color : #ff83a1;
  }

  82.5% {
    background-color : #0b0b0d;
  }

}

.main {
  display : flex;
  align-items: center;
  flex-direction : column;
  justify-content : center;
  gap : 1em;
  padding : 1em;
  width : 30rem;
  max-width : 90%;
  border-radius : 1em;
  background-color : hsla(0, 0%, 100%, 0.2);
  box-shadow : .3em .3em 1em hsla(0, 0%, 0%, 0.4);
}

form {
  width : 100%;
  display : flex;
  align-items : center;
  flex-direction : column;
  justify-content : center;
}

label,
input {
  font-family: "jura";
  font-weight: bold;
  font-size: clamp(.9rem, 5vw, 1.15rem);
}

input {
  width : 100%;
  height : 3em;
  padding : 0 1em;
  border-radius : .7em;
  color : hsla(0, 0%, 0%);
  background-color : hsla(0, 0%, 90%, 0.3);
  transition : color 150ms ease-in-out,
              background-color 200ms ease-in-out;
  border : .1em solid rgba(0, 0, 0, .1);
  box-shadow : .1em .1em .2em hsla(0, 0%, 0%, 0.3);

}

input:hover,
input:focus {
  outline : none;
  color: hsl(0, 0%, 0%);
  background-color : hsla(0, 0%, 100%, 0.85);
}

input:focus::placeholder,
input:hover::placeholder {
  color : hsl(0, 0%, 0%);
}

input:nth-child(3):active {
  color : hsl(0, 0%, 90%);
  background-color : hsl(0, 0%, 0%);
}